/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="file"],
input[type="number"],
button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Flash Message Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Social Media Button Styles */
button.social {
    background-color: #3b5998; /* Facebook color for example */
    color: white;
    margin: 5px;
}

button.social.linkedin {
    background-color: #0077b5; /* LinkedIn color */
}

button.social.github {
    background-color: #333; /* GitHub color */
}
